mixin About
  +Section.py-4.py-lg-6#about
    .row.justify-content-center
      .col-lg-12.text-center.mx-auto.mb-3.mb-md-5.mt-4
        h6.fw-bold.fs-4.display-3.lh-sm Made by DeFi builders for DeFi builders
        p.mb-0 Why have we decided to build RedStone

    .row.align-items-center
        .col-md-5.order-md-0.text-center.text-md-start
          img.img-fluid.mb-4(src=`${CWD}assets/img/illustrations/builders.png` width="550"  alt='')
        .col-md-6.text-center.text-md-start.offset-md-1
          p.my-4.pe-xl-5  We participated in multiple DeFi hackathons collecting over a dozen of prizes. 
            | Although our solutions looked good as a proof of concept, we struggled to bring them into production. 
            | We couldn't find an Oracle that would provide the data we needed at the required frequency. 
            | Digging deeper led us to conclude that there is a structural problem with the way Oracles are designed now. 

          p.my-4.pe-xl-5  We decided to build our own Oracle that will be open, flexible, efficient and easy to use by other developers.
