mixin About
  +Section.py-4.py-lg-6#about
    .row.justify-content-center
      .col-lg-12.text-center.mx-auto.mb-3.mb-md-5.mt-4
        h6.fw-bold.fs-4.display-3.lh-sm Made by DeFi builders for DeFi builders
       

    .row.align-items-center
        .col-md-5.order-md-0.text-center.text-md-start
          img.img-fluid.mb-4(src=`${CWD}assets/img/illustrations/builders.png` width="550"  alt='')
        .col-md-6.text-center.text-md-start.offset-md-1
          p.my-4.pe-xl-5 Our team has won dozens of hackathon prizes.
            | But many of our projects never made it into production because we couldn't find oracles that were fast, cheap or reliable enough.

          p.my-4.pe-xl-5  So we decided to solve this structural problem by building our own oracle system that is open, flexible, efficient and easy to use by other developers.
