

mixin Api
  section.py-5#api
    .container-lg
      .row.align-items-center
        .col-md-5.col-lg-6.order-md-0.text-center.text-md-start
          img.img-fluid(src=`${CWD}assets/img/illustrations/contracts.png` width="550"  alt='')
        .col-md-7.col-lg-6.px-sm-5.px-md-0
          h6.fw-bold.fs-4.display-3.lh-sm Accessing data in contracts
          p.my-4 You can easily access data as it was available in the native blockchain storage. We achieve this effect using a radically different way of putting data on-chain inspired by the meta-transactions pattern. 
          //We use a radically different way of putting data on-chain inspired by the meta-transactions pattern.
            | We append the raw transaction with an extra payload.
            | This data in automatically extracted by a proxy contract and put the content in on-chain storage.
            | After the transaction is executed we clear the storage to avoid gas payments

          p.my-4 The data which is temporarily put in storage could be used by all the protocols maintaining composability - the key aspect of DeFi. 
            | The solution is also very scalable as there is only a flat verification fee and no extra storage costs. 
    .container-lg
      .row.align-items-center
        .col-md-7.col-lg-6.px-sm-5.px-md-0
          h6.fw-bold.fs-4.display-3.lh-sm Accessing data in applications
          p.my-4 The data could also be linked to your website, a mobile application or a backend server. 
            | We provide a classic http-api and a 
            a(href='https://www.npmjs.com/package/limestone-api' role='button')  npm package 
            | to minimize the amount of code necessary for integration. 
          p.my-4 All data is delivered with a cryptographic signature allowing blockchain grade integrity in an off-chain environment. 
            | You can find more details and explore our API in the
            a(href='https://docs.limestone.finance/' role='button')  documentation
            | .

        .col-md-5.col-lg-6.order-md-0.text-center.text-md-start
          img.img-fluid(src=`${CWD}assets/img/illustrations/call-to-action.png` width="500"  alt='')
