mixin Backer(image, url)
    .col-6.col-sm-4.col-md-4.col-lg-1.px-md-0&attributes(attributes)
        a(href=`${url}` role='button' target="_blank")
            img(src=`${CWD}assets/img/backers/${image}` width="120px"  alt='')

mixin Backers
    +Section.mb-3.pt-5
        .row
            .col-12.mx-auto.align-items-center.text-center
                h6.fw-bold.fs-4.display-3.lh-sm.mb-5 Our partners

        .row.align-items-center.justify-content-center.justify-content-lg-around
            +Backer('arweave.png', "https://www.arweave.org/").mb-5.mb-lg-0.text-center
            +Backer('maven11.jpeg', "https://www.maven11.com/").mb-5.mb-lg-0.text-center
            +Backer('kr1.jpg', "https://www.kryptonite1.co/").mb-5.mb-lg-0.text-center
            +Backer('beringwaters.png', "https://beringwaters.com/").mb-5.mb-lg-0.text-center
            +Backer('trgc.svg', "https://trgc.io/").mb-5.mb-lg-0.text-center
            +Backer('collider.png', "https://www.collider.vc/").mb-5.mb-lg-0.text-center
            +Backer('1kx.jpeg', "http://1kx.network").mb-5.mb-lg-0.text-center
            

