append variables
 -
    var cfeatures = [
      {
        image:'fast-performance.png',
        title:'Fast',
        text:'There is no need to wait for 10 minutes to get an update, we can let your contracts access data within seconds '
      },
      {
        image:'rewards.png',
        title:'Cost efficient',
        text:'We reduce gas costs using "flash storage" based on meta transactions and proxy contracts'
      },
       {
        image:'customization.png',
        title:'Versatile',
        text:'Any non-standard data, like historical volatility, order books or trading volumes could be easily fetched to your contracts'
      },
    {
    image:'app.png',
    title:'Accountable',
    text:'The full track of records of providers activity is permanently available on the Arweave chain'
    },
       {
        image:'network.png',
        title:'Decentralised',
        text:'Anyone can become a data provider and configure a data stream with just few clicks'
      },

    {
    image:'automatic.png',
    title:'Insured',
    text:'For every downtime or incorrect data you can request a refund covered by the provider\'s stake'
    },
      ]

mixin ChooseFeature(config)
  .col-md-4.mb-6
    .text-center.px-lg-3
      img.img-fluid.mb-3(src=`${CWD}assets/img/illustrations/${config.image}` width="90"  alt='')
      h5.fw-bold=config.title
      p.mb-md-0=config.text

mixin ChooseFeatures
  +Section.py-6#features
    .row.justify-content-center.mb-6
      .col-lg-6.text-center.mx-auto.mb-3.mb-md-5.mt-4
        h6.fw-bold.fs-4.display-3.lh-sm The next generation of Oracles
        p.mb-0 The new wave of DeFi protocols build advance financial products requiring more data delivered at <lower></lower> latency
    .row
      each feature in cfeatures
        +ChooseFeature(feature )
