mixin FooterList(...items)
  each item in items
    li.list-inline-item.me3.me-sm-4
      a.text-light.text-decoration-none(href='#!')
        =item

mixin Footer
  +Section.py-5.bg-1000#contact
    //.row.flex-center
    //  .col-auto.mb-5
    //    a.pe-2.d-flex.align-items-center.text-decoration-none.fw-bold.fs-3(href='#')
    //      .text-danger Red
    //      .text-white Stone

    .row.flex-center
      .col-12.mb-3.mx-auto.align-items-center.text-center
        h5.mb-2.text-xl-white Do you want to learn more about the project or integrate with us?
        p Reach out at: 
          a.text-xl-white(href='mailto:hello@redstone.finance' target="_blank") hello@redstone.finance 
          | or talk to us on 
          a.text-xl-white(href='mailto:hello@redstone.finance' target="_blank") Discord
      .col-auto.mb-3
        ul.list-unstyled.list-inline
          li.list-inline-item.me-3
            a(href='mailto:hello@redstone.finance' target="_blank")
              svg.bi.bi-twitter(xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='#ffffff' viewBox='0 0 1000 1000')
                path(d='M 900 163C 934 163 962 191 962 225C 962 225 962 305 962 305C 962 305 579 569 579 569C 545 592 521 600 500 600C 479 600 455 592 421 569C 421 569 38 305 38 305C 38 305 38 225 38 225C 38 191 66 163 100 163C 100 163 900 163 900 163M 379 631C 379 631 379 631 379 631C 420 658 459 675 500 675C 541 675 580 658 621 631C 621 631 621 631 621 631C 621 631 962 396 962 396C 962 396 962 800 962 800C 962 834 934 862 900 862C 900 862 100 862 100 862C 66 862 38 834 38 800C 38 800 38 396 38 396C 38 396 379 631 379 631')
          li.list-inline-item.me-3
            a(href='https://twitter.com/limestone_defi' target="_blank")
              svg.bi.bi-twitter(xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='#ffffff' viewBox='0 0 16 16')
                path(d='M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z')
          
          li.list-inline-item.me-3
            a(href='https://discord.com/invite/PVxBZKFr46' target="_blank")
              svg.bi.bi-github(xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='#ffffff' viewBox='0 0 1000 1000')
                path(d="M 193 42C 193 42 193 42 193 42C 193 42 807 42 807 42C 859 42 901 84 901 136C 901 136 901 958 901 958C 901 958 802 871 802 871C 802 871 747 820 747 820C 747 820 688 765 688 765C 688 765 712 850 712 850C 712 850 193 850 193 850C 141 850 99 808 99 756C 99 756 99 136 99 136C 99 84 141 42 193 42M 429 255C 429 255 429 255 429 255C 422 255 363 257 301 304C 301 304 235 423 235 571C 235 571 274 637 375 640C 375 640 392 620 406 602C 347 585 326 548 326 548C 326 548 330 551 338 556C 339 556 339 557 340 557C 342 558 343 559 344 560C 356 566 367 571 378 575C 396 582 419 590 445 595C 479 601 520 604 564 595C 585 592 607 585 630 576C 646 570 664 561 683 549C 683 549 660 586 600 603C 614 620 630 640 630 640C 731 637 770 571 770 571C 770 423 704 304 704 304C 638 254 576 255 576 255C 576 255 569 263 569 263C 647 287 683 321 683 321C 636 295 589 282 545 277C 512 273 481 274 453 278C 450 278 448 278 445 279C 429 280 390 286 341 308C 324 315 314 321 314 321C 314 321 352 285 435 261C 435 261 430 255 430 255C 430 255 430 255 429 255M 417 426C 417 426 417 426 417 426C 443 426 464 449 464 477C 464 505 443 528 417 528C 391 528 370 505 370 477C 370 449 391 426 417 426M 584 426C 584 426 584 426 584 426C 610 426 631 449 631 477C 631 505 610 528 584 528C 559 528 538 505 538 477C 538 449 558 426 584 426")
          
          li.list-inline-item.me-3
            a(href='https://github.com/redstone-finance' target="_blank")
              svg.bi.bi-github(xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='#ffffff' viewBox='0 0 1000 1000')
                path(d="M 500 0C 500 0 500 0 500 0C 776 0 1000 224 1000 500C 1000 720 857 908 659 974C 634 979 625 963 625 950C 625 933 626 879 626 813C 626 766 610 736 592 720C 703 708 820 665 820 473C 820 418 801 374 769 339C 774 327 791 275 764 207C 764 207 722 193 626 258C 586 247 544 241 501 241C 459 241 416 247 376 258C 281 194 239 207 239 207C 211 275 229 327 234 339C 202 374 183 419 183 473C 183 665 299 708 410 720C 396 733 383 755 378 787C 349 800 278 821 233 746C 223 731 195 694 156 695C 114 695 139 718 156 728C 178 740 202 784 208 798C 218 826 250 880 376 857C 376 899 376 938 376 950C 376 963 367 978 342 974C 143 908 0 721 0 500C 0 224 224 0 500 0")
    .row.flex-center
      .col-auto
        p.mb-0.fs--1.text-700 &copy; Redstone 2021

