mixin HeroHeader
  section.py-0#home
    //+Background({ image: `${CWD}assets/img/illustrations/hero-bg.png`, attrs: { style: { 'background-position': 'bottom', 'background-size': 'cover',} }, className: '' })
    .container.position-relative
      .row.align-items-center.py-8
        .col-md-5.col-lg-6.order-md-1.text-center.text-md-end
          img.img-fluid(src=`${CWD}assets/img/illustrations/datacenter.png`   alt='')
        .col-md-7.col-lg-6.text-center.text-md-start
          //span.badge.bg-light.rounded-pill.text-dark.align-items-center.d-flex.flex-row-reverse.justify-content-end.mx-auto.mx-md-0.ps-0.w-75.w-sm-50.w-md-75.w-xl-50.mb-3 #1 Editiors Choice App of 2020
          //  img.img-fluid.float-start.me-3(src=`${CWD}assets/img/illustrations/arrow-right.png`   alt='')
          h1.mb-4.display-3.fw-bold.lh-sm Powering DeFi
            br.d-block.d-lg-none.d-xl-block
            |with real-world data
          p.mt-3.mb-4.fs-1 We provide highly customisable data streams
            br.d-none.d-lg-block
            |  in a fast, reliable and cost-efficient way
            br.d-none.d-lg-block
            |  fulfilling the needs of the growing DeFi ecosystem.

          a.btn.btn-lg.btn-danger.rounded-pill.hover-top(href='https://limestone.finance/#/browse-data' role='button')
            | See our data
          a.btn.btn-link.ps-md-4(href='#features' role='button')  Learn more
