// 
// 
// user.scss
//
// Place your own theme CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.
@import "user-variables";
@import "theme/variables";

.btn-danger {
    &:hover {
        background-color: $red-100;
        border-color: $red-100;
    }

    &:active {
        background-color: $red-200;
        border-color: $red-200;
        color:rgba($white, 0.7)
    }
}

.carousel-control-prev { 
    left: -65px !important; 
}

.carousel-control-next { 
    right: -65px !important; 
}

.b-15 {
    border-radius: 15px;
}


#home, #statistics {
    padding: 0;
}

#redstone-video {
    video {
        height: 30vh;

        @include media-breakpoint-up(md) {
            height: initial;
        }
    }
}

.monospace {
    font-family: $font-family-monospace;
}

.first-page {
    max-height: 100vh;
    margin-bottom: 5rem;
}

.first-page-buttons-container {
    @include media-breakpoint-up(md) {
        flex-direction: row;
    }
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.stat {
    width: 100%;

    @include media-breakpoint-up(lg) {
        width: min-content;
    }
}

.stat-number {
    font-size: 1.5rem;
    white-space: nowrap;
    color: $navy;
    font-weight: 500;

    @include media-breakpoint-up(md) {
        font-size: 30px;
        line-height: 30px;
    }
}

.stat-label {
    font-size: 19px;
    color: #6b6b6b;
    white-space: nowrap;
}

.prettyprint:not(div) {
    background: #22221D;
}

.accordion-item:last-of-type {
    .accordion-body {
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}

.stats {
    background-color: #F5F7FA;
    font-weight: 500;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 0;

    @include media-breakpoint-up(md) {
        padding: 20px 160px;
    }
}

.accordion-button {
    &:hover {
        background-color: $gray-200;
    }
} 

.cc-banner {
    font-family: $font-family-base !important; 
}

.cc-theme-classic .cc-btn {
    border-radius: 20px;
    font-weight: 500;
    text-decoration: none;
}

.form-group {
    text-align: left;
}

.grid-container {
    row-gap: 2rem;
}

.container.team {
    
    .member-info {
        text-align: center;
    }
    
    .member-picture {
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 8px;
    }


    .member-social {
        margin-top: 10px;

        a {
            cursor: pointer;
            color: transparent;

            &:not(:last-of-type) {
                margin-right: 10px;
            }
        }


        a > img {
            height: 20px;
        }
    }
}

#team {
    min-height: calc(100vh - 56px);
}

#footer {
    font-size: 0.9rem;

    .footer-links > div, .footer-social a {
        line-height: initial;
    }

    .footer-social {
        width: 100%;

        ul {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }

    @include media-breakpoint-up(lg) {
        .footer-social {
            width: initial;

            ul {
                width: initial;
                display: block;
            }
        }
    }

    .footer-social ul {
        margin-bottom: 0;
    }

    img {
        width: 24px;
    }
}

[data-custom-class='title'] {
    font-weight: 700 !important;
    font-size: 2.0736rem !important;
    color: $redstone-blue;
    text-transform: capitalize;
}

[data-custom-class="heading_1"] {
    font-weight: 500 !important;
    font-size: 1.2rem !important;
    color: $redstone-blue;
}

#privacy, #terms {
    text-align: justify !important;

    strong {
        font-weight: 500 !important;
        color: $redstone-blue;
        font-size: 1rem !important;    
    }
}

#not-found {
    background: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif") no-repeat center;
    background-position-y: 35vh;
    height: 100vh;
    
    .http-404 {
        font-size: 5rem;
        color: $red-error;
    }

    @include media-breakpoint-up(md) {
        background-size: 50%;
    }    
}

#blog {
    background: #f2f2f2;

    .post-card-wrapper {
        width: 100%;

        a {
            color: transparent;
        }

        .post-card {
            border-radius: .45rem;
            overflow: hidden;
            cursor: pointer;
            transition: all .2s ease-in-out;

            .post-card-subtitle {
                display: none;
                position: absolute;
                top: 0;
                bottom: 0;
                padding: 10px;
                background: rgba($black, 0.7);
                color: $white;
            }

            .post-card-img-wrapper {
                position: relative;
            }

            .post-card-title {
                color: $redstone-blue;
            }

            &:hover {
                transform: scale(1.03);

                .post-card-subtitle {
                    display: block;
                }
            }

            .post-card-img {
                width: 100%;
            }
    
            .post-card-info {
                background: $white;
                padding: 10px;
                height: 150px;
            }

            .post-card-author, .post-card-time {
                font-size: 0.9rem;
                color: $gray-800;
            }
        }
    }


    @include media-breakpoint-up(md) {
        .post-card-wrapper {
            width: 50%;
        }
    }

    @include media-breakpoint-up(lg) {
        .post-card-wrapper {
            width: 33%;
        }
    }

    #post {
        .post-author {
            .post-author-img {
                border-radius: 50%;
                width: 2rem;
            }
        }

        .post-img {
            width: 100%;
            border-radius: 0.5rem;
        }
    }
}
